# Rust
/target
**/*.rs.bk

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local settings / logs
*.local
logs
*.log
